html {
}

body {
  margin: 0;
  padding: 0;
}

.main_image {
	background-image: url('img/SmilingLeo.gif');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

h1 {
	font-family: ONE-Mobile-POP;
}

@font-face {
    font-family: 'VariableFont';
    src: url('fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

h2 {
	margin: 0px auto;
	font-size: 3em;
	color: #fffff8;
	font-family: VariableFont;
}

.main {
	padding-top: 0px;
}

/*label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}*/

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nav_bigbar {
	position: fixed;
	margin: 0 auto;
	width: 100vw;
	height: 60px;
	background-color: #333333;
	z-index: 999;
}

.nav_menu {
	position: relative;
	width: 25vw;
	color: #fffff8;
	text-align: center;
	font-size: 1.2em;
	font-family: 'ONE-Mobile-POP';
}

.nav_container {
	margin: auto;
	display: flex;
	position: relative;
	max-width: 1000px;
	height: 60px;
	align-items: center;
}

.album {
	margin: 0 auto;
	width: 100vw;
	max-width: 500px;
	height: 100vw;
	max-height: 500px;
}

#map {
	margin: 0 auto;
	width: 100%;
	height: 50%;
}

.swiper {
  width: 100vw;
  max-width: 1000px;
  min-height: 100vh;
	height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone {
	width: 3em;
	height: 3em;
}

/* 그리드 뷰 */
.grid-container {
	width: 100%;
	height: 98%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 1vw 1vw;
  margin: 1vw;
}
.grid-item {
	background-image: url('img/wedding1.jpg');
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
	background-position: center;
  text-align: center;
}