html {
}

body {
  margin: 0;
  padding: 0;
}

.main {
	padding-top: 0px;
}

/*.main_image {
	background-image: url('img/SmilingLeo.gif');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}*/

/*@font-face {
    font-family: 'VariableFont';
    src: url('fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}*/

/*h2 {
	margin-top: 20vh;
	font-size: 8vh;
	color: #fffff8;
	font-family: VariableFont;
}*/

/*label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}*/

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MN';
    src: url('fonts/MN.TTF');
}

@font-face {
    font-family: 'MAPOFLOWERISLAND';
    src: url('fonts/MAPOFLOWERISLAND.TTF');
}

/*.nav_bigbar {
	position: fixed;
	margin: 0 auto;
	width: 100vw;
	height: 60px;
	background-color: #333333;
	z-index: 999;
}

.nav_menu {
	position: relative;
	width: 25vw;
	color: #fffff8;
	text-align: center;
	font-size: 1.2em;
	font-family: 'ONE-Mobile-POP';
}

.nav_container {
	margin: auto;
	display: flex;
	position: relative;
	max-width: 860px;
	height: 60px;
	align-items: center;
}*/

#mySwiper {
  width: 100vw;
  max-width: 780px;
  min-height: 100vh;
	height: 100vh;
}

#main_swiper {
	width: 100%;
	height: 100%;
}

.slide_container {
	width: 100%;
	height: 100%;
}

.title_space {
	width: 100%;
	height: 60px;
	display: table; 
}

.title_space p {
	text-align:center; 
  vertical-align: middle;
  display: table-cell;
  font-family: 'MN';
  font-size: 30px;
}

/* 첫페이지 시작 */
#photo_1 {
	background-image: url('img/album/main/1-1.jpg');
  background-position: center;
  background-size: cover;
}

#photo_2 {
	background-image: url('img/album/main/2-1.jpg');
  background-position: center;
  background-size: cover;
}

#photo_3 {
	background-image: url('img/album/main/3-1.jpg');
  background-position: center;
  background-size: cover;
}

#phrases {
	font-family: 'MN';
	font-size: 2vh;
	position: absolute;
	width: 90%;
	height: auto;
	padding: 20px;
	bottom: 5%;
	left: 5%;
	text-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	border: 0.15rem solid rgba(255, 212, 0, 1);
	border-radius: 15px;
	z-index: 999;
}

.title {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 50px;
	text-align: center;
	width: 100%;
	height: auto;
	color: rgba(255, 212, 0, 1);
	z-index: 999;
}

.title p {
	font-family: 'MN';
	font-size: 4.5vh;
}

.marry {
	color: rgba(255, 212, 0, 1);
	font-size: 2.4em;
	line-height: 1.5em;
	margin-top: 0em;
	margin-bottom: 0.6em;
	font-weight: 900;
}

.message {
	color: rgba(255, 212, 0, 1);
	font-size: 1em;
	line-height: 0.8em;
}

.foot {
	color: rgba(255, 212, 0, 1);
	font-size: 1.6em;
	line-height: 1em;
	margin: 0.5em;
}

.foot_number {
	font-family: 'MAPOFLOWERISLAND';
	color: rgba(255, 212, 0, 1);
	font-size: 1.6em;
	line-height: 1em;
	margin-top: 1.2em;
	margin-bottom: 0.7em;
	font-weight: bold;
}

/* 첫페이지 끝 */

.main_slider {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.main_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*이미지 그리드*/
.image-grid {
  --gap: 1vh;
  --num-cols: 1;
  --row-height: calc(18.8vh - 12px);

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 1;
    --row-height: calc(18.8vh - 12px);
  }
}

/* page4. 오시는길 */

#map button {
	font-family: 'ONE-Mobile-POP';
	margin: 0 auto;
	padding: 0 auto;
}

.copy {
	width: 50px;
	height: 50px;
	background-color: #fff;
	cursor: pointer;
}

.copy img {
	width: 33px;
	height: 33px;
}

.map_img {
	width: 100%;
	height: calc(100% - 120px);
	object-fit: fill;
}

.way_to_go {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.way_to_go div {
	margin: auto;
}

/* page5. 축의금, 연락처 페이지 */
/* page5. 그리드 뷰 레이아웃 */
.grid-container {
	--row-height: calc((80vh - 63px) / 2);

	box-sizing: border-box;

	display: grid;

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20vh var(--row-height) var(--row-height);
 	/*background-color: darkorange;*/
 	font-size: 2.8vh;
}

.grid-item {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	/*padding-top: 3vh;*/
	/*background-position: center;*/
  text-align: center;
  /*transition: all 0.5s ease-in;*/
  font-family: 'MN';
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.rows {
	display: table-row;
}

.rows p, h1, a {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	line-height: auto;
}

.rows h1 {
	font-size: 1.4em;
}

.rows button {
	border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 5px 0px 0px 0px;
}

.rows button:nth-child(6) {
	cursor: none;
}

.grid-item:nth-child(1) {
	padding-top: 20px;
	padding-bottom: 20px;
	grid-column: 1 / span 2;
}

#cross_border1 {
	z-index: -1;
	position: absolute;
	width: 85%;
	height: 85%;
	bottom: 0;
	right: 0;
	border-right: 1px solid rgba(255, 212, 0, 1);
	border-bottom: 1px solid rgba(255, 212, 0, 1);
}

#cross_border2 {
	z-index: -1;
	position: absolute;
	width: 85%;
	height: 85%;
	bottom: 0;
	left: 0;
	border-left: 1px solid rgba(255, 212, 0, 1);
	border-bottom: 1px solid rgba(255, 212, 0, 1);
}

#cross_border3 {
	z-index: -1;
	position: absolute;
	width: 85%;
	height: 85%;
	top: 0;
	right: 0;
	border-right: 1px solid rgba(255, 212, 0, 1);
	border-top: 1px solid rgba(255, 212, 0, 1);
}

#cross_border4 {
	z-index: -1;
	position: absolute;
	width: 85%;
	height: 85%;
	top: 0;
	left: 0;
	border-left: 1px solid rgba(255, 212, 0, 1);
	border-top: 1px solid rgba(255, 212, 0, 1);
}

/* page5. 아이콘 등 */
.contact_title {
	font-size: 20px;
}

.kakaopay {
	width: 80px;
	height: 34px;
	/*background-color: rgba(255, 212, 0, 1);
	border-radius: 16px*/
}

.phone {
	width: 33px;
	height: 33px;
}

.bank {
	font-size: 0.6em;
	vertical-align: top!important;
}

.name {
	vertical-align: bottom!important;
}

.toast {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

#copy_value {
	display: none;
}

#ad {
	display: none;
}

.acc {
	display: none;
}